<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>My_Portfolio</display-name>
	<listener>
		<listener-class>com.deploy.AutoCreate</listener-class>
	</listener>
	<listener>
		<listener-class>com.deploy.AutoCreate2</listener-class>
	</listener>
	<servlet>
		<servlet-name>AdminAuth</servlet-name>
		<display-name>AdminAuth</display-name>
		<description></description>
		<servlet-class>com.controller.AdminAuth</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<display-name>LogOut</display-name>
		<description></description>
		<servlet-class>com.controller.LogOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddEdu</servlet-name>
		<display-name>AddEdu</display-name>
		<description></description>
		<servlet-class>com.controller.AddEdu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddExp</servlet-name>
		<display-name>AddExp</display-name>
		<description></description>
		<servlet-class>com.controller.AddExp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendMessage</servlet-name>
		<display-name>SendMessage</display-name>
		<description></description>
		<servlet-class>com.controller.SendMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMessage</servlet-name>
		<display-name>DeleteMessage</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProject</servlet-name>
		<display-name>AddProject</display-name>
		<description></description>
		<servlet-class>com.controller.AddProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteProject</servlet-name>
		<display-name>DeleteProject</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddResume</servlet-name>
		<display-name>AddResume</display-name>
		<description></description>
		<servlet-class>com.controller.AddResume</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteResume</servlet-name>
		<display-name>DeleteResume</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteResume</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddImage</servlet-name>
		<display-name>AddImage</display-name>
		<description></description>
		<servlet-class>com.controller.AddImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteImage</servlet-name>
		<display-name>DeleteImage</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteEducation</servlet-name>
		<display-name>DeleteEducation</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteEducation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteExperience</servlet-name>
		<display-name>DeleteExperience</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteExperience</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAuth</servlet-name>
		<url-pattern>/AdminAuth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEdu</servlet-name>
		<url-pattern>/AddEdu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddExp</servlet-name>
		<url-pattern>/AddExp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/SendMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMessage</servlet-name>
		<url-pattern>/DeleteMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProject</servlet-name>
		<url-pattern>/AddProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProject</servlet-name>
		<url-pattern>/DeleteProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddResume</servlet-name>
		<url-pattern>/AddResume</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteResume</servlet-name>
		<url-pattern>/DeleteResume</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddImage</servlet-name>
		<url-pattern>/AddImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteImage</servlet-name>
		<url-pattern>/DeleteImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEducation</servlet-name>
		<url-pattern>/DeleteEducation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteExperience</servlet-name>
		<url-pattern>/DeleteExperience</url-pattern>
	</servlet-mapping>
	
</web-app>
